div(class="entryItemContent")
  div(class="entryItemTitleWrap")
    a(href="", class="entryItemTitle") vue-scroller实现vue单页面的上拉加载和下拉刷新问题
  div(class="entryItemSummary")
    div(class="e_l_s_desc") 摘要: 在vue中如何简单的实现页面的上拉加载和下拉刷新，在这里我推荐使用vue-scrolle插件。 vue-scrolle的基本使用方法： 1.下载 2.导包 3.项目使用 4.修改代码 将模板转成你自己想要的效果。
  div(class="entryItemDesc") 
    |posted @ 
    a(href="") #{moment(Date.now()).format('YYYY-MM-DD HH:mm:ss')}
    |
    |海盗的小秘密 阅读(43) |
    |
    a(href="") 评论 (0)
    |
    |
    a(href="") 编辑