doctype html
html(lang="zh-CN")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no")
  head
    title=title
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    block styles
      
    script(src="/javascripts/jquery1.12.4.min.js")
    script(src="/javascripts/bootstrap.min.js")
    block scripts
    
  body
    div(class="container")
      block content
