nav(class="pagerList", aria-label="Page navigation")
  ul(class="pagination pagination-sm")
    li(class="pagerPrev")
      a(href="", aria-label="Previous")
        span(aria-hidden="true") 上一页
    - for (let i = 1; i <= 5; i++)
      li(class="pagerNum")
        a(href="")=i
    li(class="pagerNext")
      a(href="", aria-label="Next")
        span(aria-hidden="true") 下一页
