nav(class="pagerList", aria-label="Page navigation")
  ul(class="pagination pagination-sm")
    li(class="pagerPrev")
      a(href="", aria-label="Previous")
        span(aria-hidden="true") 上一页
    li(class="pagerNum")
      a(href="#") 1
    li(class="pagerNum")
      a(href="#") 2
    li(class="pagerNum")
      a(href="#") 3
    li(class="pagerNum")
      a(href="#") 4
    li(class="pagerNum")
      a(href="#") 5
    li(class="pagerNext")
      a(href="", aria-label="Next")
        span(aria-hidden="true") 下一页
